a {
    background-color: #1ec7d6;
    background-color: (bottom, #0fa3b1);
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    color: white;
    display: inline-block;
    padding: 20px 60px;

}