.one {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-weight: 300;
    text-transform: capitalize;
}

.two {
    font-family: "Cairo", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
}

.three {
    font-family: "Jomhuria", sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
}