body {
    font-family: Arial, Helvetica, sans-serif;

}

.one {

    font-size: 3.125rem;
    text-transform: capitalize;
}

.two {

    font-size: 2.5rem;
    text-transform: capitalize;
}

.three {

    font-size: 1.875rem;
    text-transform: capitalize;
}