body {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 50%;
    border: 4px solid black;
    position: relative;
    margin: 30px;
    display: inline-block;
    box-shadow: -6px -6px 0 4px #e91e63, 6px 6px 0 4px #2196f3;
    counter-increment: number;
}

div::before {
    content: "Element";
    position: absolute;
    width: 0;
    height: 0px;
    top: 0;
    left: 20px;
    text-align: center;
    line-height: 100px;
    font-weight: 400;

}

div::after {
    content: counter(number);
    position: absolute;
    width: 30px;
    height: 30px;
    top: -20px;
    left: 30px;
    text-align: center;
    line-height: 30px;
    margin: auto;
    background-color: black;
    color: white;
    border-radius: 50%;
}