body {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 5px 20px;
    border-bottom-right-radius: 5px 20px;
    margin: 30px;
    display: inline-block;
    box-shadow: 2px 2px 10px 2px #a7a7a7 inset;
}