body {
    font-family: Arial, Helvetica, sans-serif;
}

.parent {
    width: 550px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;

}

.parent::before {
    content: "";
    position: absolute;
    left: 274px;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #169bd5;
}

.parent::after {
    content: "Or";
    position: absolute;
    left: 255px;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: #169bd5;
    margin-top: -20px;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.box {
    width: 250px;
    background-color: #eee;
    float: left;
    text-align: center;
}

.box2 {
    width: 250px;
    background-color: #eee;
    float: right;
    text-align: center;
}

h3 {
    margin: 30px;
    padding: 15px;
    background-color: #169bd5;
    color: white;
    border-radius: 10px;
}

.price {
    width: 200px;
    height: 200px;
    margin: auto;
    background-color: #ddd;
    font-size: 50px;
    line-height: 200px;
    border-radius: 50%;
}