body {
    font-family: Arial, Helvetica, sans-serif;

}

p {
    background-color: #eee;
    margin: 20px 0 20px 150px;
    padding: 20px;
    position: relative;

}

p::before {
    content: attr(data-person);
    width: 120px;
    height: 100%;
    position: absolute;
    left: -150px;
    top: 0;
    margin-top: 0;
    background-color: #eee;
    text-align: center;
    line-height: 60px;

}

p::after {
    content: "";
    position: absolute;
    left: -25px;
    top: 50%;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #dd3779 transparent transparent;

}

p {
    border-left: 5px solid #dd3779;
}