* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.layout {
    height: 100vh;
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 50px auto 50px;
    grid-template-areas: " head head head head head head head head head head "
        "section section section section section section section aside aside aside"
        " foot foot foot foot foot foot foot foot foot foot ";
}

header {
    grid-area: head;
    background-color: #2196f3;
    position: relative;
}

header::before {
    content: "Header";
    position: absolute;
    color: white;
    left: 10px;
    margin-top: 10px;
}

section {
    grid-area: section;
    background-color: orangered;
    position: relative;
}

section::before {
    content: "Section";
    position: absolute;
    color: white;
    left: 10px;
    top: 20px;
}

aside {
    grid-area: aside;
    background-color: rgb(119, 119, 153);
    position: relative;
}

aside::before {
    content: "Aside";
    position: absolute;
    color: white;
    left: 10px;
    top: 20px;

}

footer {
    grid-area: foot;
    background-color: #067184;
    color: white;
}

footer::before {
    content: "Footer";
    position: absolute;
    color: white;
    left: 10px;
    margin-top: 10px;
}