* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #090b1a;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    width: 1000px;
    background-color: #1b1938;
    display: flex;
    border-radius: 8px;
}

.content {
    width: 50%;
    padding: 70px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content h1 {
    font-size: 32px;
    margin-bottom: 25px;

}

.content h1 span {
    color: #aa5cdb;
}

.content p {
    width: 100%;
    margin-bottom: 60px;
    color: #8080808f;
    line-height: 1.6;
    font-size: 15px;

}

.stats {
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-between;
}

.stat h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.stat p {
    text-transform: uppercase;
    font-size: 12px;
}

.image {
    width: 50%;
    position: relative;

}

.image img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.image::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #aa5cdb80;

}