.assign-4-shape-1,
.assign-4-shape-2,
.assign-4-shape-3,
.assign-4-shape-4 {
    width: 400px;
    height: 400px;
    margin: auto;
    background-image: url(../../../../css-assignment-5-8.png);
}

.assign-4-shape-1 {
    background-size: 80% 80%;

}

.assign-4-shape-2 {
    background-size: 70% 30%;
    background-position: right;

}

.assign-4-shape-3 {
    background-size: 30% 50%;
    background-position: bottom;

}

.assign-4-shape-4 {
    background-size: 50% 50%;
    background-position: right bottom;
}