.title {

    /* عنوان جوا class بيعمل selector لاي class اسمه title*/
}

#nav {

    /* nav جوا id بيستهدف عنصر واحد بس  */
}

div {

    /*بيعدل علي كل العناصر الموجودة داخل ال div */
}

h2 {

    /*بيعدل علي كل العناصر الموجودة داخل ال h2 */
}