body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 700px;
    border-spacing: 0px;
}

caption {
    font-weight: bold;
}

thead td {
    background-color: rgb(124, 116, 116);
    color: white;
    font-weight: bold;
    text-align: center;
    border-color: white;
}

td {
    padding: 15px;
    background-color: #eee;
    border: 1px solid white;
}

img {
    width: 80px;
    height: 80px;
    background-color: #eee;
    border: 1px solid white;
}

.View {
    background-color: rgb(96, 170, 255);
    color: white;
    text-align: center;
    margin-right: 5px;
    padding: 8px 12px;
    display: inline-block;
    border: 1px solid white;
    text-decoration: none;
}

.Delete {
    background-color: rgb(255, 101, 206);
    color: white;
    text-align: center;
    padding: 8px 12px;
    display: inline-block;
    border: 1px solid white;
    text-decoration: none;
}