* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

.parent {
    background-color: #eee;
    width: 400px;
    height: 200px;
    transition-duration: 0.5s;
    margin: 50px;
    padding: 10px;
    text-align: center;

}

.parent:hover {
    margin-top: 20px;
}

.child {
    background-color: #ddd;
    width: 350px;
    height: 50px;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.parent:hover .child {
    margin-top: 40px;
}