:root {
    --mainColor: #009688;
    --mainPadding: 10px;
}

div {

    color: var(--mainColor, red);
    padding: var(--mainPadding);
    border: 2px solid var(--mainColor, black);
    margin: 10px;
}