* {
    box-sizing: border-box;
}

.parent {
    width: 600px;
    height: 300px;
    background-color: #eee;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;

}

.parent div {
    background-color: #ff6666;
    color: white;
    text-align: center;
    padding: 20px;
    width: calc((100% - 40px)/3);
    height: 60px;


}