* {
    box-sizing: border-box;
}

.parent {
    width: 600px;
    height: 300px;
    background-color: #eee;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;


}

.parent div {
    background-color: #607d8b;
    color: white;
    padding: 20px;
    width: calc((100% - 40px)/3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.one {
    order: 6;
    height: 40px;
    align-self: flex-end;

}

.two {
    order: 5;
    height: 140px;

}

.three {
    order: 2;
    height: 40px;
}

.four {
    order: 3;
    height: 140px;

}

.five {
    order: 4;
    height: 140px;
}

.six {
    order: 1;
    height: 140px;
}