* {
    box-sizing: border-box;
}

.parent {
    width: 600px;
    height: 300px;
    background-color: #eee;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.parent div {
    color: white;
    padding: 20px;
    width: 100px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one {
    background-color: orangered;
    align-self: flex-start;
    order: 2;
}

.two {
    background-color: #2fad0c;
    align-self: flex-end;
    order: 3;
}

.three {
    background-color: brown;
    align-self: flex-start;
    order: 4;
}

.four {
    background-color: rgb(123, 17, 152);
    align-self: flex-end;
    order: 1;
}