* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    width: 800px;
    height: 400px;
    background-color: #eee;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}

.logo {
    width: 80px;
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}

.links {
    background-color: #ddd;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 20px;
    flex: 1;
    justify-content: flex-end;
    margin-left: 20px;

}

.links li {
    margin-left: 20px;
}

.main-area {
    display: flex;
    margin-bottom: 20px;
}

.content {
    background-color: #ddd;
    padding: 20px;
    height: 200px;
    margin-right: 20px;
    flex: 3;
}

.sidebar {
    background-color: #ddd;
    padding: 20px;
    flex: 1;

}

.footer {
    background-color: #ddd;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}