body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.container{
    background: white;
    padding: 30px;
    border-radius: 5px 5px 80px 5px;
    width: 350px;
}

.inputs{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.inputs div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

label{
    font-family: 12px;
    color: gray;
    margin-bottom: 5px;
}

input{
    width: 90px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.result{
    margin-top: 20px;
    font-size: 18px;
}

.result span{
    color: purple;
    font-weight: bold;
}